.Rproj.user
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

/.quarto/
/Life_Insurance_Portfolio/data/SOA
Life_Insurance_Portfolio/data/data_original.csv
